

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="./assets/img/bosch_series_8.png" alt="">
						</div>
						<div class="shop-body">
							<h3>Washing Machines<br>Collection</h3>
							<a href="#products" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->

				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="./assets/img/bosch_professional_dryer.png" alt="">
						</div>
						<div class="shop-body">
							<h3>Tumble Dryers<br>Collection</h3>
							<a href="#products" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->

				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="./assets/img/voss_stove.png" alt="">
						</div>
						<div class="shop-body">
							<h3>Stoves<br>Collection</h3>
							<a href="#products" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">

            <!-- New Products Section Title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                </div>
            </div>

            <!-- New Products Grid -->
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/bosch_series_8.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Washing Machines</p>
                        <h3 class="product-name"><a href="#">Bosch Series 8 Washing Machine</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/bosch_professional_dryer.png" alt="">
                        <div class="product-label">
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Tumble Dryers</p>
                        <h3 class="product-name"><a href="#">Bosch Professional Tumble Dryer</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/voss_stove.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Electric Stoves</p>
                        <h3 class="product-name"><a href="#">VOSS (Electrolux) Electric Stove </a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating"></div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/bosch_fridge1.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Refrigerators</p>
                        <h3 class="product-name"><a href="#products">Bosch Refrigerator No Frost</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <!-- HOT DEAL SECTION WITH SPACING -->
            <div class="col-md-12 my-5">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li><div><h3>02</h3><span>Days</span></div></li>
                        <li><div><h3>10</h3><span>Hours</span></div></li>
                        <li><div><h3>34</h3><span>Mins</span></div></li>
                        <li><div><h3>60</h3><span>Secs</span></div></li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="#">Shop now</a>
                </div>
            </div>

            <!-- Top Selling Section Title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top Selling</h3>
                </div>
            </div>

            <!-- Top Selling Products Grid -->
            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/gorenje_electric_stove1.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Stoves</p>
                        <h3 class="product-name"><a href="#">Gorenje Electric Stove GEC6A11SG</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/siemens_dishwasher_iq300.png" alt="">
                        <div class="product-label">
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Dishwashers</p>
                        <h3 class="product-name"><a href="#">Siemens Dishwasher IQ300 SN436S01JA</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/aeg_dryer_heatpump1.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Tumble Dryers</p>
                        <h3 class="product-name"><a href="#">AEG Tumble Dryer Heat Pump</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating"></div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product">
                    <div class="product-img">
                        <img src="./assets/img/siemens_washing_machine_iq500.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Washing Machine</p>
                        <h3 class="product-name"><a href="#">Siemens Washing Machine IQ500</a></h3>
                        <h4 class="product-price">$980.00 <del>$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i></button>
                            <button class="quick-view"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>


	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top selling Washing Machines</h4>
						<div class="section-nav">
							<div id="slick-nav-3" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-3">
						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/bosch_series_8.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Washing Machine</p>
									<h3 class="product-name"><a href="#">Bosch Series 8 Washing Machine</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/siemens_washing_machine_iq500.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Washing Machines</p>
									<h3 class="product-name"><a href="#">Siemens Washing Machine iq500</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/aeg_washing_machine_8000.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Washing Machines</p>
									<h3 class="product-name"><a href="#">AEG 8000 Washing Machine</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>

						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/bosch_washing_machine_series6.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Washing Machines</p>
									<h3 class="product-name"><a href="#">Bosch Series 6 </a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/siemens_washing_machine_iq300.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Washing Machine</p>
									<h3 class="product-name"><a href="#">Siemens iq500</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/aeg_washing_machine_6000.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Washing Machines</p>
									<h3 class="product-name"><a href="#">AEG 6000</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>
					</div>
				</div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top selling Tumble Dryers</h4>
						<div class="section-nav">
							<div id="slick-nav-4" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-4">
						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/aeg_dryer_heatpump1.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Tumble Dryers</p>
									<h3 class="product-name"><a href="#">AEG Heat Pump </a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/bosch_professional_dryer.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Tumble Dryers</p>
									<h3 class="product-name"><a href="#">Bosch Professional</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/bosch_exclusiv_tumble_dryer.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Tumble Dryers</p>
									<h3 class="product-name"><a href="#">Bosch Exclusive</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>

						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/siemens_tumble_dryer_iq500.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Tumble Dryers</p>
									<h3 class="product-name"><a href="#">Siemens iq500</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/siemens_tumble_dryer_iq300.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Tumble Dryers</p>
									<h3 class="product-name"><a href="#">Siemens iq300</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/aeg_tumble_dryer_7000.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Tumble Dryers</p>
									<h3 class="product-name"><a href="#">AEG 7000</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>
					</div>
				</div>

				<div class="clearfix visible-sm visible-xs"></div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top Selling Stoves</h4>
						<div class="section-nav">
							<div id="slick-nav-5" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-5">
						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/voss_stove.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Stove</p>
									<h3 class="product-name"><a href="#">Voss Stove</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/gorenje_electric_stove1.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Stoves</p>
									<h3 class="product-name"><a href="#">Gorenje Stove GEC6A11SG </a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/electrolux_stove.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Stoves</p>
									<h3 class="product-name"><a href="#">Electrolux Stove</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>

						<div>
							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/bosch_electric_stove.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Stoves</p>
									<h3 class="product-name"><a href="#">Bosch Stove</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/voss_stove.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Stoves</p>
									<h3 class="product-name"><a href="#">Siemens Stove</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- /product widget -->

							<!-- product widget -->
							<div class="product-widget">
								<div class="product-img">
									<img src="./assets/img/bosch_electric_stove.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Stove</p>
									<h3 class="product-name"><a href="#">Smeg Stove</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<!-- product widget -->
						</div>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	
</div>
</div>

	